@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Work Sans", sans-serif;
}

header {
  width: 100%;
  height: auto;
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 200px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  justify-content: center;
}
nav > ul > li > a {
  margin-right: 30px;
  color: #424242;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.banner {
  margin-top: 102px;
}

.banner-info h1 {
  color: #131313;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 0;
}

.banner-info p {
  margin-top: 16px;
  color: #727272;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}

.btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  width: 180px;
  height: 64px;
  border-radius: 8px;
  background: #ff900e;
  border: none;
}

.banner-img {
  margin-top: 50px;
  width: 100%;
}

.banner-img img {
  width: 100%;
  height: auto;
}

main {
  padding: 0px 100px;
}

section {
  margin-top: 150px;
}

.grid-Imgs {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  gap: 20px;
}

.grid-Imgs img {
  width: 242px;
  height: auto;
  border-radius: 8px;
}

.teams-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.quick-list {
  padding: 20px;
}
.quick-list h1 {
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
.quick-list h1 > span {
  color: #ff900e;
  font-size: 45px;
  font-weight: 700;
}
.quick-list h1 > small {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.quick-list p {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 30px 0;
}

.section-info {
  width: 542px;
  margin-bottom: 100px;
}

.facts-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}
.facts-disc {
  margin-top: 0;
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.card-container {
  display: flex;
  justify-content: space-around;
}
.card {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 50px 20px;
}

.card-stats {
  margin: 10px 0;
  color: #424242;
  font-size: 40px;
  font-weight: 600;
}
.card-name {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 560px) {
  main {
    padding: 0px;
  }
  section {
    display: flex;
    justify-content: center;
  }
  header {
    padding: 10px 0px !important;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav > ul > li > a {
    margin-right: 20px;
    color: #424242;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
  }

  nav > ul {
    margin: 20px auto;
  }

  .banner-info h1 {
    font-size: 30px;
  }

  .banner-info p {
    margin-top: 10px;
  }
  .btn {
    font-size: 15px;
    width: 130px;
  }

  .grid-Imgs img {
    width: 130px;
    height: auto;
    flex-shrink: 0;
  }

  .teams-container {
    flex-direction: column;
    padding: 0;
    align-items: center;
    margin: auto;
  }

  .quick-list h1 {
    color: #727272;
    font-size: 35px;
    font-weight: 500;
  }
  .quick-list h1 > span {
    color: #ff900e;
    font-size: 35px;
    font-weight: 700;
  }
  .quick-list h1 > small {
    color: #131313;
    font-size: 35px;
    font-weight: 700;
  }
  .quick-list p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 30px 0px;
  }
  .card-container {
    align-items: center;
    flex-direction: column;
  }
  .section-info{
    width: 100%;
    padding:0 20px;
    margin-bottom: 40px;
  }
  .card{
    width: 80%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 560px) and (max-width: 940px) {
  header {
    padding: 50px;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav > ul > li > a {
    margin-right: 20px;
    color: #424242;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    line-height: 26px;
  }

  nav > ul {
    margin-top: 30px;
  }

  .banner-info h1 {
    font-size: 50px;
  }

  .banner-info p {
    margin-top: 20px;
  }
  .teams-container {
    flex-direction: column;
    padding: 10px;
    align-items: center;
    margin: auto;
  }
}
